/* 
    Document   : nutech-ap2
    Created on : Dec 13, 2018, 3:57:14 PM
    Author     : Andedi
    Description:
        Purpose of the stylesheet follows.
*/
.bg-angkasa2{
    background: #FC383B!important;
    color: white;
}
.navbar-nutech-color {
    /* background-image: url("../images/bg2.png")!important; */
    background: -webkit-linear-gradient(red, orange);;  
}
.nutech-panel-heading{
    background: #FF0000!important;
    color: white!important;
}

.bg-sidebar{
    background: #333!important;
}

.bg-nav{
    background: #4C4D4F!important;
    color: white!important;
}

.nutech-panel-title{
    color: white!important;
}
.color-white{
    color: white!important;
}
.color-dark{
    color: #333!important;
}

.bg-telkom{
    background-color: red!important;
    color: white!important;
}
.bg-nutech{
    background-color: #FF5D00!important;
    color: white!important;
}
/*.navbar-brand > img {
    margin-top: -10px;
    height: 40px;
}*/

@media (min-width: 769px)
.sidebar-ap2 {
    border-bottom: 0;
    border-right: 1px solid ##ddd;;
}
.sidebar-ap2 {
    background-image: linear-gradient(to left, #0277BD , #039BE5);
    color: #333333;
    border-bottom: 1px solid #ddd;
}

.dropdown-toggle {
  color: black;
}

.sidebar-main-toggle {
  color: white;
}

.datagrid-cell, .datagrid-cell-group {
    padding: 10px 4px!important;
}

.dropdown-toggle {
  color: white;
}